@charset "UTF-8";

[v-cloak] {
	display: none;
}

sidebar {
	float: left;
}
section {
	float: left;
	width: calc(100% - 85px);
	word-break: break-all;
	padding: 10px;
}
.el-menu-sidebar {
	max-width: 200px;
	height: 100%;
}
.el-menu-sidebar:not(.el-menu--collapse) {
	width: 200px;
	min-height: 400px;
}
.el-tooltip {
	padding: 20px !important;
}
.width200 {
	width: 200px;
}

/* .label-blue {
	background-color: #223962;
	color: #FFF;
	font-weight: bold;
}
.table-blue thead th {
	background-color: #8eaadb;
	color: #000;
	font-weight: bold;
}

.pointer {
	cursor: pointer
}
.editable-color {
	color: #09fff6;
}
.saved-color {
	color: #01ff0c;
} */
