@charset "UTF-8";

[v-cloak] {
	display: none;
}

body {
	margin-top: 100px;
}

.width200 {
	width: 200px;
}

.label-blue {
	background-color: #223962;
	color: #FFF;
	font-weight: bold;
}
.table-blue thead th {
	background-color: #8eaadb;
	color: #000;
	font-weight: bold;
}

.pointer {
	cursor: pointer
}
.editable-color {
	color: #09fff6;
}
.saved-color {
	color: #01ff0c;
}
