@charset "UTF-8";

[v-cloak] {
	display: none;
}

.el-aside {
	float: left;
}
.el-table__empty-block {
	height: auto;
}
#main {
	float: left;
	width: calc(100% - 65px);
	word-break: break-all;
}

/* .el-aside {
	max-width: 200px;
}
.el-menu-sidebar:not(.el-menu--collapse) {
	width: 200px;
} */
.el-header {
	padding: 0px;
}
.el-menu-sidebar {
	background-color: #545c64;
	height: calc(100% - 60px);
}
.el-tooltip {
	padding: 20px !important;
}

/* .label-blue {
	background-color: #223962;
	color: #FFF;
	font-weight: bold;
}
.table-blue thead th {
	background-color: #8eaadb;
	color: #000;
	font-weight: bold;
}

.pointer {
	cursor: pointer
}
.editable-color {
	color: #09fff6;
}
.saved-color {
	color: #01ff0c;
} */
