<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
		<title>{{ .title }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
		<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css?v=7.0.0"/>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.8/theme-chalk/index.css?v=2.0.8"/>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css?v=4.7.0">
		<link rel="stylesheet" type="text/css" href="/css/my-style.css?v=0.0.0">
	</head>
	<body>
		<el-container>
			<div id="navbar">
				<el-header>
					<el-menu class="header" mode="horizontal">
						<el-menu-item v-on:click="headerCollapse()">
							<i class="fa fa-bars" aria-hidden="true"></i>
						</el-menu-item>
						<el-menu-item index="1">
							ダッシュボード
						</el-menu-item>
					</el-menu>
				</el-header>
				<el-aside width="65px">
					<el-menu default-active="1" class="el-menu-sidebar" :collapse="isCollapse" background-color="#545c64" text-color="#fff">
						<el-menu-item index="1">
							<i class="fa fa-cubes" aria-hidden="true"></i>
							<span slot="title">&ensp;プロジェクト&ensp;</span>
						</el-menu-item>
						<el-menu-item index="2">
							<i class="fa fa-cogs" aria-hidden="true"></i>
							<span slot="title">&ensp;設定&ensp;</span>
						</el-menu-item>
					</el-menu>
				</el-aside>
			</div>

			<div id="main">
				<el-main>
					{{template "content" .}}
				</el-main>
			</div>

		</el-container>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js?v=3.2.1"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js?v=2.5.13"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.8/index.js?v=2.0.8"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.8/locale/ja.min.js?v=2.0.8"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js?v=0.17.1"></script>
		<script type="text/javascript" src="/js/common.js?v=0.0.0"></script>
{{if .vuejs}}
		<script type="text/javascript" src="/js/{{ .vuejs }}?v=0.0.0"></script>
{{end}}
	</body>
</html>
