{{define "content"}}

				<el-row>

					<el-col :span="24">
						<h2>{{ .project_name }}</h2>
					</el-col>

					<el-col :span="24">
						<p class="col-xs-12 form-control-static label-blue">
							データベース名
							&ensp;
							<i class="fa fa-pencil-square-o editable-color pointer" aria-hidden="true" @click="Changed('dbname')" v-show="viewable.dbname"></i>
							<i class="fa fa-check-square-o saved-color pointer" aria-hidden="true" @click="Changed('dbname')" v-show="!viewable.dbname"></i>
						</p>
						<p class="form-control-static" v-show="viewable.dbname">
							%%db_name%%
						</p>
						<input type="text" class="form-control" v-show="!viewable.dbname" v-model="db_name">
					</el-col>

					<el-col :span="24">
						<el-tabs v-model="editableTabsValue" type="card" editable @edit="handleTabsEdit">
							<el-tab-pane v-for="(item, index) in editableTabs" :key="item.name" :label="item.title" :name="item.name">
								%%item.content%%
							</el-tab-pane>
						</el-tabs>
					</el-col>

					<el-col :span="24">
						<p>更新時間：%%updated%%</p>
					</el-col>

				</el-row>

{{end}}
