{{define "content"}}

			<div class="col-xs-12">

				<h2>{{ .project_name }}</h2>
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#home" data-toggle="tab">DB設計書</a>
					</li>
					<li class="">
						<a href="#plus" data-toggle="tab">&ensp;<i class="fa fa-plus-circle" aria-hidden="true"></i>&ensp;</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active in" id="home">
						<input type="text" class="form-control">
					</div>
					<div class="tab-pane fade" id="table1">
					</div>
				</div>
				<p>更新時間：{{ .updated }}</p>


			</div>

{{end}}
