{{define "content"}}

				<el-row>

					<el-col :span="24">
						<h2>{{ .project_name }}</h2>
					</el-col>

					<el-col :span="24">
						<el-input placeholder="Please input" v-model="db_name" v-show="viewable.dbname" :disabled="true">
							<template slot="prepend">データベース名</template>
							<template slot="append">
								<i class="fa fa-pencil-square-o pointer" aria-hidden="true" @click="Changed('dbname')" v-show="viewable.dbname"></i>
							</template>
						</el-input>
						<el-input placeholder="Please input" v-model="db_name" v-show="!viewable.dbname">
							<template slot="prepend">データベース名</template>
							<template slot="append">
								<i class="fa fa-check-square-o pointer" aria-hidden="true" @click="Changed('dbname')" v-show="!viewable.dbname"></i>
							</template>
						</el-input>
					</el-col>

					<el-col :span="24">
						<el-tabs v-model="editableTabsValue" type="card" editable @edit="handleTabsEdit">
							<el-tab-pane v-for="(item, index) in editableTabs" :key="item.name" :label="item.title" :name="item.name">
								%%item.content%%
							</el-tab-pane>
						</el-tabs>
					</el-col>

					<el-col :span="24">
						<p>更新時間：%%updated%%</p>
					</el-col>

				</el-row>

{{end}}
