{{define "content"}}

				<el-row>
					<el-col :span="24">

						<el-table :data="projectlist" stripe style="width: 100%">
							<el-table-column prop="project_id" label="#"></el-table-column>
							<el-table-column prop="project_name" label="プロジェクト"></el-table-column>
							<el-table-column label="DB設計">
								<template slot-scope="scope">
									<el-button @click="locationDB(scope.row.project_id)">Edit</el-button>
								</template>
							</el-table-column>
							<el-table-column prop="created" label="作成日"></el-table-column>
							<el-table-column prop="updated" label="更新日"></el-table-column>
						</el-table>

					</el-col>
				</el-row>

{{end}}
